<div class="container">

  <div class="card mb-3" style="max-width: 540px; border-radius: 25px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/img/download (4).jpeg" width="150px" height="150px" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Covid19</h5>
          <p class="card-text">A site to search Covid data about countries</p>
          <a href="https://covid19a.netlify.app/">
            <button class="btn btn-secondary" id="button">Live Demo</button>
          </a>
          <a href="https://github.com/spirokristollari/Covid19">
            <button class="btn btn-secondary" id="button">Source Code</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px; border-radius: 25px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/img/user.png" width="150px" height="150px" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Portfolio</h5>
          <p class="card-text">My portfolio's source code</p>
          <a href="spirokristollari.netlify.com">
            <button class="btn btn-secondary" id="button">Live Demo</button>
          </a>
          <a href="https://github.com/spirokristollari/news-app">
            <button class="btn btn-secondary" id="button">Source Code</button>
          </a>        
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px; border-radius: 25px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/img/vippng.com-blank-paper-png-3142199.png" width="150px" height="150px" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">News</h5>
          <p class="card-text">A news website that uses newsapi.org API to get data</p>
          <a href="https://newsapiapp.netlify.app/">
            <button class="btn btn-secondary" id="button">Live Demo</button>
          </a>
          <a href="https://github.com/spirokristollari/news-app">
            <button class="btn btn-secondary" id="button">Source Code</button>
          </a>        
        </div>
      </div>
    </div>
  </div>
  
  <div class="card mb-3" style="max-width: 540px; border-radius: 25px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/img/download.jpeg" width="150px" height="150px" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Firebase Data</h5>
          <p class="card-text">A website that saves data to a firebase database</p>
          <a href="https://firebaseupload.netlify.app/">
            <button class="btn btn-secondary" id="button">Live Demo</button>
          </a>
          <a href="https://github.com/spirokristollari/firebase-data">
            <button class="btn btn-secondary" id="button">Source Code</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px; border-radius: 25px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/img/cloudy.png" width="150px" height="150px" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Weather App</h5>
          <p class="card-text">A weather app that uses openweathermap.org data to display current weather conditions</p>
          <a href="https://weather-app002.netlify.app/">
            <button class="btn btn-secondary" id="button">Live Demo</button>
          </a>
          <a href="https://github.com/spirokristollari/weather-app">
            <button class="btn btn-secondary" id="button">Source Code</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  
</div>