<div class="container">
    <div class="cont">
        <h2>Front-end</h2>
            <div class="logo">HTML/CSS <img src="../../assets/img/html5.daa6b565.svg"><img src="../../assets/img/css3.3fddbbaa.svg"></div>
            <div class="logo">JS/TS <img src="../../assets/img/javascript.fd46ca41.svg"><img src="../../assets/img/download (2).jpeg"></div>
            <div class="logo">Angular  <img src="../../assets/img/download (1).jpeg"></div>
            <div class="logo">Bootstrap <img src="../../assets/img/download.png"></div>
            
    </div>
    <div class="cont">
        <h2>Technologies</h2>
        <div class="logo">Git <img src="../../assets/img/git-icon.fd381642.svg"></div>
        <div class="logo">GitHub <img src="../../assets/img/download (3).jpeg"></div>
        <div class="logo">Linux <img src="../../assets/img/linux-tux.ff969ad1.svg"></div>
        <div class="logo">Firebase <img src="../../assets/img/firebase-logo-png-yellow-and-orange-firebase-logo-free-png-pngfuel-910x512.png" alt=""></div>
    </div>
</div>