.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cont {
    width: 300px;
    height: 400px;
    margin: 70px auto;
    background-color: #2e3031;
    transition: 1s ease;
    border-radius: 20px;
}

.cont:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}

h2 {
    color: blanchedalmond;
    padding-left: 60px;
    padding-top: 40px;
}

div {
    color: blanchedalmond;
}

img {
    height: 24px;
    width: 24px;
}

.logo {
    padding-left: 80px;
    padding-top: 15px;
}

@media only screen and (max-width: 550px) {  
    .container {
        grid-template-columns: 1fr;
    }
}
