<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand"><h2>Spiro Kristollari</h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <a class="nav-link hover-underline-animation" routerLink="home"><h4><i class="fa fa-home"></i> Home</h4></a>
        </li>
        <li class="nav-item">
        <a class="nav-link hover-underline-animation" routerLink="projects"><h4><i class="fas fa-book-reader"></i> Projects</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover-underline-animation" routerLink="skills"><h4><i class="fas fa-tools"></i> Skills</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover-underline-animation" routerLink="about"><h4><i class="fas fa-user"></i> About</h4></a>
        </li>
      </ul>      
      
    </div>
</nav>
<div [@triggerName]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>